In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn import tree

car_test = pd.read_csv('Car Accidents IOT/Car Accidents IOT/test.csv')
car_train = pd.read_csv('Car Accidents IOT/Car Accidents IOT/train.csv')

car_train.head(2)

,Fatal,S1,S2,S3,S4,S5,S6,S7,S8,S9,...,S13,S14,S15,S16,S17,S18,S19,S20,S21,S22
0,1,36.2247,10.7733,0.243897,596,100.671,0.0,0.0,1,28,...,1,57,0.0,0.280,240,5.99375,0,0.0,4,14.9382
1,1,35.7343,17.4551,0.243897,600,100.000,0.0,0.0,1,14,...,1,57,0.0,0.175,240,5.99375,0,0.0,4,14.8827

In [2]:
car_train.shape
car_test.shape

(9065, 23)

In [3]:
x = car_train [ car_train.columns[1:23] ]
y = car_train['Fatal']

In [4]:
from sklearn.neighbors import KNeighborsClassifier

# Build Model
knn = KNeighborsClassifier(n_neighbors=8)

In [5]:
knn.fit(x, y)

KNeighborsClassifier(algorithm='auto', leaf_size=30, metric='minkowski',
                     metric_params=None, n_jobs=None, n_neighbors=8, p=2,
                     weights='uniform')

In [6]:
var=list( car_test.columns[1:33] )
tree_predict = knn.predict( car_test[ var ] )

In [7]:
from sklearn.metrics import confusion_matrix

cm1 = confusion_matrix( car_test[['Fatal']], tree_predict )
cm1

array([[2961,  931],
       [ 974, 4199]], dtype=int64)

In [9]:

accuracy = (2961+4199) / (931+974+2961+4199)
accuracy

0.7898510755653613

# Accuracy is 78%